<html xmlns:th="https://www.thymeleaf.org/">

<head>
 <title>SHIPMENT TYPE CHARTS PAGE !</title> 
</head>

<body>
   <div th:insert="fragments/commonui :: userheader"></div>
	<div th:insert="fragments/commonui :: usermenu"></div>
	<div th:insert="fragments/commonui :: userfooter"></div>
   
	<div class="container">
		<div class="card">
			<div class="card-header bg-primary text-white text-center">
				<h3>SHIPMENT TYPE CHARTS PAGE</h3>
			</div>

			<div class="card-body">
				<img th:src="@{/shipmentModeA.jpg}"/>
				<img th:src="@{/shipmentModeB.jpg}"/>
			</div>
		</div> <!-- card end -->
	</div>
	<!-- container end -->
</body>
</html>